<footer class="border-top py-3 bg-white">
    <div class="container d-flex justify-content-between align-items-center flex-wrap">

        <div class="fw-semibold">
            StayEase
        </div>

        <div class="text-muted small">
            © 2026 StayEase
        </div>

        <div class="d-flex gap-3">
            <a href="#" class="text-dark"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="text-dark"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="text-dark"><i class="fa-brands fa-x-twitter"></i></a>
        </div>

    </div>
</footer>