<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet">
<script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Stay Finder</title>



</head>

<style>
    /* Hide scrollbar for Chrome, Edge, Safari */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
html {
    scrollbar-width: none;
}

/* Hide scrollbar for IE and old Edge */
body {
    -ms-overflow-style: none;
}
</style>
<body class="d-flex flex-column min-vh-100">

    <%- include('../partials/navbar.ejs') %>

        <main class="container flex-grow-1">
            <%- body %>
        </main>

        <%- include('../partials/footer.ejs') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>